<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>个人信息</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vue.js') }}"></script>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="../../static/css/font-awesome-4.7.0/css/font-awesome.css">
    <style>
        .box {
            padding-top: 20px;
        }

    </style>

    <style type="text/css">
        h1{
            font-size:30px;
            color:#930;
            text-align:center;
        }
        ._form-control {

            /* width: 100%; */
            height: 34px;
            width: 68%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    </style>
    <style>
        .modal-backdrop{
            z-index:0;
        }
        .container{
            width: 100%;
            padding: 0;
        }
    </style>
<script>
    function clickModify(e) {
        let id = e.id.split('-')[0]
        document.getElementById(id+'-input').style.display="inline";
        document.getElementById(id+'-p').style.display="none";
        document.getElementById(id+'-modify').style.display="none";
        document.getElementById(id+'-sure').style.display="inline";
        document.getElementById(id+'-cancel').style.display="inline";
    }
    function clickSure(e) {
        let id = e.id.split('-')[0]

        document.getElementById(id+'-input').style.display="none";
        document.getElementById(id+'-p').style.display="inline";
        document.getElementById(id+'-modify').style.display="inline";
        document.getElementById(id+'-sure').style.display="none";
        document.getElementById(id+'-cancel').style.display="none";

        let content = document.getElementById(id+'-input').value;
        document.getElementById(id+'-p').innerText = content;



        $.ajax({
            'url': '/user/edit',    //请求的url地址
            'dataType':"json",   //返回格式为json
            'data':{
                "key":id,
                'value': content
            },    //参数值,键值对
            'type':"post",   //请求方式
            success:function(data){
                //请求成功时处理
                if(data['msg'] == 'success'){
                    alert('修改成功')}
                else {
                    if(data['data']== 'fail'){
                         alert('修改失败')
                    }
                }
            },
            complete:function(){
                //请求完成的处理
            },
            error:function(){
                //请求出错处理
                alert('请检查网络...')
            }
        });
    }
    function clickCancel(e) {
        let id = e.id.split('-')[0]
        document.getElementById(id+'-input').style.display="none";
        document.getElementById(id+'-p').style.display="inline";
        document.getElementById(id+'-modify').style.display="inline";
        document.getElementById(id+'-sure').style.display="none";
        document.getElementById(id+'-cancel').style.display="none";

        let content = document.getElementById(id+'-p').innerText;
        document.getElementById(id+'-input').value = content;
    }
</script>
</head>

<body>
<!--nav-->
<nav class="nav nav-tabs navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">云疫平台--管理端</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index.index_page') }}">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ url_for('equipment.equipment_show') }}">设备管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ url_for('monitor.person_status') }}">人员管理 <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="btn-group">
                    <a title="消息" class="fa fa-bell" data-toggle="dropdown">
                        <label class="label label-danger" style="right: 0px">{{count}}</label>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% for alarm in alarms %}
                            <li><a href="/equipment/detail/{{ alarm.equipment_id }}">{{ alarm.equipment.location }}---{{ alarm.reason }}-----{{ alarm.alarm_time }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}}({{ user.username }}) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user.edit_information') }}">个人信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('user.logout') }}">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--contain-->
    <div>
        <h1 style="margin-top: 110px">个人信息</h1>

        <form method="post" style="margin-left: 30%;margin-right: 30%" action="#">
            <p class="form-group">
                <label for="name" style="width: 15%">姓 名：      </label>
                <span id="name">{{ user.name }}</span>
            </p>
            <p class="form-group">
                <label for="_id" style="width: 15%">编 号：</label>
                <span id="_id">{{user.username}}</span>
            </p>
            <p class="form-group">

                <div style="display: inline-block;width: 15%;max-width: 100%;margin-bottom: 5px;font-weight: 700">密 码：</div>
                <div id="password" style="display: inline-block;width: 46%">
                <input type="text" id="password-input" name="name" style='display: none' value="{{ user.password }}" class="form-control">
                <span class="form-control-static" id='password-p' style='display: block;'>{{ user.password }}</span>
            </div>
                <div style="float: right;display: inline-block;width: 30%">
                <button id='password-modify' type="button" onclick='clickModify(this)' class="btn btn-warning">修改</button>
                <span align="left">
                        <button id='password-sure' style='display: none' onclick='clickSure(this)' type="button" class="btn btn-danger">确定</button>
                    </span>
                <span align="right"><button id='password-cancel' style='display: none' onclick='clickCancel(this)' type="button" class="btn btn-primary">取消</button></span>
            </div>
            </p>
            <p class="form-group">
                <div style="display: inline-block;width: 15%;max-width: 100%;margin-bottom: 5px;font-weight: 700;">手机号码：</div>
                <div id="tel" style="display: inline-block;width: 50%">
                    <input type="text" id="telephone-input" name="name" style='display: none' value="{{ user.telephone }}" class="form-control">
                    <div class="form-control-static" id='telephone-p' style='display: block'>{{ user.telephone }}</div>
                </div>
                <div style="float: right;display: inline-block;width: 30%">
                    <button id='telephone-modify' type="button" onclick='clickModify(this)' class="btn btn-warning" >修改</button>
                    <span align="left">
                            <button id='telephone-sure' style='display: none' onclick='clickSure(this)' type="button" class="btn btn-danger">确定</button>
                        </span>
                    <span align="right">
                        <button id='telephone-cancel' style='display: none' onclick='clickCancel(this)' type="button" class="btn btn-primary">取消</button>
                    </span>
                </div>
            </p>
            <p class="form-group">
                <label for="sex" style="width: 15%">性 别：</label>
                <span id="sex">{{ user.gender }}</span>
            </p>
        </form>
    </div>

<!--footer-->
<footer style="background: black;height: 50px" class="navbar-fixed-bottom">
</footer>

</body>
</html>