*{
    padding: 0;
    margin: 0;
}
.background{
    width: 100%;
    height: 600px;
    background-image: url("../image/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

