<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link type="text/css" href="{{ url_for('static',filename='css/common.css') }}" rel="stylesheet" charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><script scr="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>#}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="../../../static/css/font-awesome-4.7.0/css/font-awesome.css">

    <!-- <script src="js/china.js"></script> -->
    <style>
        .modal-backdrop{
            z-index:0;
        }
        .container{
            width: 100%;
            padding: 0;
        }
    </style>
</head>
<div class="back">
<nav class="nav nav-tabs navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">云疫平台--管理端</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index.index_page') }}">首页 <span class="sr-only">(current)</span></a></li>
{#                <li ><a href="{{ url_for('monitor.person_status') }}">人员状态 <span class="sr-only">(current)</span></a></li>#}
{#                <li ><a href="{{ url_for('monitor.user_alarm_records') }}">报警记录 <span class="sr-only">(current)</span></a></li>#}

                <li><a href="#component"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人员管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('monitor.person_status') }}">人员状态</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a onclick="temperature()">报警记录</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="btn-group">
                    <a title="消息" class="fa fa-bell" data-toggle="dropdown">
                        <label class="label label-danger" style="right: 0px">{{ count }}</label>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% for alarm in alarms %}
                            <li><a href="{{ url_for('date.look_temperature',uid=alarm.user.id,time= alarm.create_time) }}" >{{ alarm.user.name }}---{{ alarm.temperature }}-----{{ alarm.create_time }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}}({{ user.username }}) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user.edit_information') }}">个人信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('user.logout') }}">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="margin-top: 110px;width:1500px;margin-left: 135px">
        <div style="float:left;margin-top: -10px;width: 1px;height: 40px; background: darkgray;"></div>
        <div class="col-md-2" style="width: 200px;margin-top: -10px">
            <h4 id="f_time">{{ time }}</h4>
        </div>
        <div style="float:left;margin-top: -10px;width: 1px;height: 40px; background: darkgray;"></div>
        <div class="col-md-2" style="width: 200px">
            <span>共有</span>
            <span style="border: 1px solid;border-radius: 50%;padding: 4px">{{ date.total }}</span>
            <span>记录</span>
        </div>
        <div style="float:left;margin-top: -10px;width: 1px;height: 40px; background: darkgray;"></div>
        <div class="col-md-2" style="width: 200px">
            <span>平均体温</span>
            <span style="border: 1px solid;padding: 6px">{{ date.average }}</span>
        </div>
        <div style="float:left;margin-top: -10px;width: 1px;height: 40px; background: darkgray;"></div>
        <div class="col-md-2" style="width: 200px">
            <span>最高体温</span>
            <span style="border: 1px solid;padding: 6px">{{ date.max_temperature }}</span>
        </div>
        <div style="float:left;margin-top: -10px;width: 1px;height: 40px; background: darkgray;"></div>
        <div class="col-md-2" style="width: 200px">
            <span>温度异常次数</span>
            <span style="border: 1px solid;padding: 6px">{{ date.abnormal }}</span>
        </div>
        <div style="float:left;margin-top: -10px;width: 1px;height: 40px; background: darkgray;"></div>
        <div class="col-md-2" style="text-align: center;margin-right: 0px;margin-top: -5px">
            <li class="dropdown" style="border: 1px solid;padding: 6px;width: 180px;list-style: none">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">选择查看日期 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                     {% for twoweek in twoweeks %}
                    <li><a href="{{ url_for('date.look_temperature',uid=date.user_id,time=twoweek+' 00:00:00') }}">{{twoweek}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </div>
        <div style="float:left;margin-top: -10px;width: 1px;height: 40px; background: darkgray;"></div>
    </div>


<div style="margin-top: 110px;width: 80%;margin-left: 10%">
        <table class="table table-bordered table-hover">
            <caption class="h2 text-center"></caption>
            <thead>
            <tr class="text-info">
                        <th class="text-center">序号</th>
                        <th class="text-center">地点</th>
                        <th class="text-center">时间</th>
                        <th class="text-center">温度（°C）</th>
                        <th class="text-center">视频和抓图</th>
                        <th class="text-center">是否确定</th>
                    </tr>
            </thead>
            <tbody>

                    {% for log in logs %}
                    <tr class="text-center" v-for="item in myData">
                        <td>{{loop.index}}</td>
                        <td>{{log.location}}</td>
                        <td>{{log.time}}</td>
                        <td>{{log.temperature}}</td>
                        <td>
                            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#layer{{ log.id }}" >点击查看</button>
                        </td>
                        {% if log.if_sure != True %}
                        <td>
                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#confirm{{ log.id }}"   >确认</button>
                            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#delete{{ log.id }}">删除</button>
                        </td>
                        <div class="modal fade" role="dialog" id="confirm{{ log.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 60%">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span>&times;</span>
                                        </button>
                                        <h4 class="modal-title">是否确定？</h4>
                                    </div>
                                    <div class="modal-body text-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirm(this)" id="{{ log.id}}">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" role="dialog" id="delete{{ log.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="width: 60%">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                            <h4 class="modal-title">是否删除？</h4>
                                        </div>
                                        <div class="modal-body text-right">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="del(this)" id="{{ log.id }}">确认</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {% else %}
                        <td>已确认</td>
                    {% endif %}
                    </tr>
                    <!--模态框 弹出框-->
                        <div class="modal fade" role="dialog" id="layer{{ log.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span>&times;</span>
                                        </button>
                                        <h4 class="modal-title">视频，抓图</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <div style="margin-left: 10%">视频</div>
                                            <div>
                                                <iframe src="../../../static/image/学生体温记录视频.mp4" style="margin-left: 15%;width: 70%"> </iframe>
                                            </div>
                                            <div style="margin-left: 10%">抓图</div>
                                            <div style="margin-left: 10%;width: 80%;margin-bottom: 20px;height: 50px">
                                                <img src="../../../static/image/抓图1.png" class="col-lg-4">
                                                <img src="../../../static/image/抓图2.png" class="col-lg-4">
                                                <img src="../../../static/image/抓图3.png" class="col-lg-4">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="remove(nowIndex)">确认</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                <tr class="text-center text-muted" v-show="myData.length==0">
                <td colspan="6"><p>暂无数据……</p></td>
            </tr>

        </table>

    </div>
    <br>
    <br>




    <div id="change" style="width: 1500px;height:400px;padding-top: 50px;margin-left: 0px;margin-bottom: 30px"></div>
    <footer style="background: black;height: 50px" class="navbar-fixed-bottom">
    </footer>
<script type="text/javascript">
function getDay(day) {
    var today = new Date();
    var targetday_milliseconds = today.getTime() + 1000 * 60 * 60 * 24 * day;
    today.setTime(targetday_milliseconds); //注意，这行是关键代码
    var tYear = today.getFullYear();
    var tMonth = today.getMonth();
    var tDate = today.getDate();
    tMonth = doHandleMonth(tMonth + 1);
    tDate = doHandleMonth(tDate);
    return tMonth + "/" + tDate;
}
function doHandleMonth(month) {
    var m = month;
    if (month.toString().length == 1) {
        m = "0" + month;
    }
    return m;
}
    var twoWeeksDays =[]
    var twoWeeksReportCounts = {{ date.twoweeks_temperature }};
    var twoWeeksReportCount=[];
    for(let i = 0 ; i <14; i++) {
                if(twoWeeksReportCounts[i]==0){
                    twoWeeksReportCount.push(null)
                }
                else{
                    twoWeeksReportCount.push(twoWeeksReportCounts[i])
                }
            }
    console.log(twoWeeksReportCounts)
    for(let i=14;i>0;i--){
        twoWeeksDays.push(getDay(-i))
    }
    console.log(twoWeeksDays)




    var myChart=echarts.init(document.getElementById('change'));
        //指定图表的配置项和数/ /
    var option={
            //标题
            title:{
              text:'近14天每日平均体温'
            },
            //工具箱
            //保存图片
            xAxis: [
                {

                    type: 'category',
                    boundaryGap: false,
                    mode:'time',
                    minTickSize: [1, "day"],
                    timeformat: "%m/%d",
                    data:twoWeeksDays,
                    axisLable:{
                        interval:0
                    }
                }
            ],
            yAxis: [
                {   min:35,
                    max:40,
                    type: 'value',
                    scale: true,
                {#    axisLabel: {#}
                {#        formatter: '{value} ' //纵坐标单位#}
                {##}
                {##}}
            ],
            series: [
                {
                    name: '最高气温',
                    type: 'line',
                    data: twoWeeksReportCount,
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },

                }
            ]
        };

        //使用刚刚指定的配置项和数据项显示图表
    myChart.setOption(option);
    </script>
<script>
    var user_id={{ date.user_id }};
    var f_time1=document.getElementById("f_time").innerHTML;
    var f_time=f_time1+' 00:00:00';
        function confirm(e) {
            let id = e.id
            $.ajax({
                'url': '/monitor/confirm/'+id,
                'data': {
                },
                'type' :'get',
                'dataType':'json',
                'success': function (data) {
                    if (data['msg'] == 'success') {
                        alert('确认成功')
                        window.location.href = '/date/look/'+user_id+'/'+f_time
                    } else {
                        console.log(data)
                        alert('确认失败')
                    }
                },
                'fail': function (error) {
                    console.log(error)
                }
            });

        }
        function del(e) {
            let id = e.id
            $.ajax({
                'url': '/monitor/delete/'+id,
                'data': {
                },
                'type' :'get',
                'dataType':'json',
                'success': function (data) {
                    if (data['msg'] == 'success') {
                        alert('删除成功')
                        window.location.href = '/date/look/'+user_id+'/'+f_time
                    } else {
                        console.log(data)
                        alert('删除失败')
                    }
                },
                'fail': function (error) {
                    console.log(error)
                }
            });

        }
    </script>

<script>
    function temperature() {
        var now = new Date();

        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日
        var time=year+'-'+month+'-'+day+' '+'00:00:00'
        window.location.href = '/monitor/alarm_records/'+time

    }
    </script>
</div>
</body>
</html>
